/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.wrap{
	width: 1024px;
	margin: 0 auto;
}
.header{
	height: 30px;
	background-color: rgb(246,246,246);
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
}
.header .twoLinks{
	display: flex;
	justify-content: end;
	align-items: center;
	padding: 0 5px 0 0;
	height: 30px;
}
.header .twoLinks li{
	margin: 0 5px;
	font-weight: 900;
}
.header .twoLinks li a{
	margin-left: 5px;
	text-decoration: none;
	font-size: 13px;
	height: 12px;
	display: block;
	padding: 5px;
}
.header .twoLinks .twoLinks-fb{
	display: flex;
	padding-right: 15px;
	border-right: 3px solid rgb(204, 204, 204);
}
.header .twoLinks .twoLinks-fb span{
	color: rgb(103,113,147);
	letter-spacing: 2px;
	margin-left: 5px;
}
.header .twoLinks .twoLinks-twritter{
	display: flex;
}
.header .twoLinks .twoLinks-fb:hover,.header .twoLinks .twoLinks-twritter:hover{
	border: 2px solid #000;
	padding: 1px;
}
.header .twoLinks .twoLinks-fb a,.header .twoLinks .twoLinks-twritter a{
	display: flex;
}
.header .twoLinks .twoLinks-twritter span{
	color: rgb(104,154,172);
	letter-spacing: 2px;
	margin-left: 5px;
}
.titleBox{
	display: flex;
	justify-content: space-between;
}
.titleBox h1 a{
	background-image: url(https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/singlePage/logo.png);
	display: block;
	padding: 10px;
	width: 190px;
	height: 36px;
	text-indent: 110%;
	overflow: hidden;
	white-space: nowrap;
}
.titleBox .threeLinks{
	display: flex;
	align-items: center;
}
.titleBox .threeLinks li{
	margin-left: 24px;
	margin-right: 24px;
	height: 35px;
	line-height: 35px;
}
.titleBox .threeLinks li a{
	text-decoration: none;
	color: rgb(148,202,188);
	font-weight: 900;
	font-size: 14px;
	display: block;
}
.titleBox .threeLinks li a:hover{
	color: rgb(148,202,188);
	font-weight: 900;
	border-bottom: 3px solid rgb(148,202,188);
}
.indexBackgroundPic{
	height: 400px;
	background-image: url("https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/singlePage/banner.png");
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.indexBackgroundPic .text{
	height: 200px;
	background-color: rgba(0,0,0,0.3);
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.indexBackgroundPic .text h2{
	color: #c0c0c0;
	text-shadow: 1px 1px 10px #c0c0c0;
	font-size: 30px;
	letter-spacing: 5px;
	margin-top: 20px;
	margin-left: 30px;
}
.indexBackgroundPic .text span{
	color: #c0c0c0;
	width: 297px;
	height: 30px;
	border-bottom: 3px double #c0c0c0;
	font-size: 24px;
	letter-spacing: 3px;
	margin-top: 20px;
	margin-left: 70px;
}
.subject{
	display: flex;
	justify-content: space-around;
	margin: 100px auto;
}
.subject .items1,.subject .items2,.subject .items3{
	width: 250px;
	border-left: 1px solid rgb(243,243,245);
	border-right: 1px solid rgb(243,243,245);
	border-bottom: 1px solid rgb(243,243,245);
	box-shadow: 0px 5px 5px rgb(0,0,0,0.2);
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 30px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}
.subject .items1 h2,.subject .items2 h2,.subject .items3 h2{
	font-size: 20px;
	font-weight: 900;
	text-align: center;
}
.subject .items1 p,.subject .items3 p{
	font-size: 16px;
	letter-spacing: 3px;
	margin-top: 15px;
	line-height: 32px;
}
.subject .items2 p{
	font-size: 14px;
	line-height: 28px;
}
.subject .items3 h3{
	font-size: 16px;
	margin-top: 30px;
}
.subject .items3 ul{
	list-style: disc;
	font-size: 14px;
	padding-top: 15px;
	padding-left: 30px;
}
.subject .items3 ul li{
	margin-bottom: 15px;
	line-height: 20px;
	margin-top: 15px;
}
.tableTitle{
	text-align: center;
	font-size: 24px;
	letter-spacing: 3px;
}
.compare{
	margin: 45px auto 150px auto;
}
.compare tr{
	border-top: 1px solid rgb(227,227,227);
	border-bottom: 1px solid rgb(227,227,227);
}
.compare tr:hover{
	background: rgba(0,0,0,0.1);
}
.compare tr th{
	text-align: left;
	padding: 18px 0 18px 35px;
	font-weight: bold;
	background-color: rgb(249,247,250);
	font-size: 14px;
}
.compare tr td{
	width: 165px;
	text-align: left;
	padding: 18px 0 18px 35px;
	font-size: 14px;
}
.compare tr .colorGreen{
	color: rgb(128,166,157);
}
.information{
	padding-bottom: 15px;
	background: linear-gradient(#00644B,#009771);
	background-repeat: repeat-x;
	display: flex;
	flex-direction: column;
}
.information .titleText{
	color: #fff;
	font-size: 25px;
	margin-top: 45px;
	text-align: center;
}
.information .titleText p{
	letter-spacing: 5px;
	margin-bottom: 15px;
}
.information .message{
	margin-top: 25px;
	display: flex;
	justify-content: space-around;
}
.information .message .messageBoard{
	width: 450px;
	height: 300px;
	font-size: 14px;
	padding-left: 10px;
}
.information .message .personalMessages{
	width: 450px;
}
.information .message .personalMessages label{
	color: #fff;
	font-size: 14px;
	margin-top: 25px;
	margin-bottom: 5px;
}
.information .message .personalMessages input{
	width: 400px;
	height: 30px;
	font-size: 14px;
	padding-left: 15px;
	border: 1px solid rgb(178,210,206);
	border-radius: 5px;
	margin-top: 10px;
	margin-bottom: 20px;
}
.information .message .personalMessages .submit{
	width: 100px;
	height: 50px;
	float: right;
	margin-top: 20px;
	margin-right: 30px;
	background-color: rgb(87,178,155);
	color: #fff;
	font-weight: 900;
	font-size: 14px;
	cursor: pointer;
	letter-spacing: 3px;
}
.footer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 10px;
}
.footer{
	padding: 15px;
}
.footer .contactUs{
	font-size: 14px;
	margin-right: 25px;
}
.footer .contactUs li{
	margin-bottom: 15px;
}
.footer .contactUs li a{
	color: rgb(176,126,138);
	text-decoration: none;
}