/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.header{
	margin: 0 auto;
	width: 1510px;
	height: 40px;
	background-color: rgb(246,246,246);
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
}
.header .twoLinks{
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	padding: 0 5px 0 0;
	height: 30px;
}
.header .twoLinks li{
	margin: 0 5px;
	font-weight: 900;
}
.header .twoLinks li a{
	margin-left: 5px;
	text-decoration: none;
}
.header .twoLinks .twoLinks-twritter{
	display: flex;
}
.header .twoLinks .twoLinks-twritter:hover{
	background-color: rgba(0,0,0,0.05);
	color: #000;
	height: 23px;
	line-height: 23px;
	font-size: 18px;
}
.header .twoLinks .twoLinks-twritter a{
	display: flex;
}
.header .twoLinks .twoLinks-twritter span{
	color: rgb(104,154,172);
	letter-spacing: 2px;
	margin-left: 5px;
}
.header .twoLinks .and{
	color: rgb(213,213,215);
}
.header .twoLinks .twoLinks-fb{
	display: flex;
}
.header .twoLinks .twoLinks-fb:hover{
	background-color: rgba(0,0,0,0.05);
	color: #000;
	height: 23px;
	line-height: 23px;
	font-size: 18px;
}
.header .twoLinks .twoLinks-fb a{
	display: flex;
}
.header .twoLinks .twoLinks-fb span{
	color: rgb(103,113,147);
	letter-spacing: 2px;
	margin-left: 5px;
}
.titleBox{
	margin: 0 auto;
	width: 1510px;
	display: flex;
	justify-content: space-between;
	height: 80px;
	line-height: 80px;
}
.titleBox .indexImg a{
	height: 80px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.titleBox .threeLinks{
	display: flex;
	align-items: center;
}
.titleBox .threeLinks li{
	margin-left: 24px;
	margin-right: 24px;
	height: 75px;
	line-height: 75px;
}
.titleBox .threeLinks li a{
	text-decoration: none;
	color: rgb(148,202,188);
	font-weight: 900;
	font-size: 18px;
	display: block;
}
.titleBox .threeLinks li a:hover{
	color: rgb(148,202,188);
	font-weight: 900;
	border-bottom: 5px solid rgb(148,202,188);
}
.indexBackgroundPic{
	width: 1510px;
	height: 520px;
	border: 1px solid #000;
	margin: 0 auto;
	background-image: url("https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/singlePage/banner.png");
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.indexBackgroundPic .text{
	width: 1510px;
	height: 240px;
	background-color: rgba(0,0,0,0.3);
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.indexBackgroundPic .text h2{
	color: #fff;
	font-size: 50px;
	letter-spacing: 3px;
	margin-top: 10px;
	margin-left: 30px;
}
.subject{
	width: 1510px;
	display: flex;
	justify-content: space-around;
	margin: 100px auto;
}
.subject .items{
	width: 400px;
	border-left: 1px solid rgb(243,243,245);
	border-right: 1px solid rgb(243,243,245);
	border-bottom: 1px solid rgb(243,243,245);
	box-shadow: 0px 5px 5px rgb(0,0,0,0.2);
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 30px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}
.subject .items h2{
	font-size: 28px;
	font-weight: 900;
	text-align: center;
}
.subject .items p{
	font-size: 21px;
	letter-spacing: 3px;
	margin-top: 15px;
	line-height: 32px;
}
.subject .items h3{
	font-size: 22px;
	margin-top: 30px;
}
.subject .items ul{
	list-style: disc;
	font-size: 20px;
	padding-top: 15px;
	padding-left: 30px;
}
.subject .items ul li{
	margin-bottom: 15px;
}
.tableTitle{
	text-align: center;
	font-size: 30px;
	letter-spacing: 3px;
}
.compare{
	width: 1260px;
	margin: 45px auto 150px auto;
}
.compare tr{
	border-top: 1px solid rgb(227,227,227);
	border-bottom: 1px solid rgb(227,227,227);
}
.compare tr th{
	width: 315px;
	text-align: left;
	padding: 18px 0 18px 35px;
	font-weight: bold;
	background-color: rgb(249,247,250);
	font-size: 18px;
}
.compare tr td{
	width: 315px;
	text-align: left;
	padding: 18px 0 18px 35px;
	font-size: 18px;
}
.compare tr .colorGreen{
	color: rgb(128,166,157);
}
.information{
	width: 1500px;
	height: 610px;
	margin: 0 auto;
	background-image: url("https://i.imgur.com/gU763Vq.png");
	background-repeat: repeat-x;
	display: flex;
	flex-direction: column;
}
.information .titleText{
	color: #fff;
	font-size: 30px;
	margin-top: 60px;
	text-align: center;
}
.information .titleText p{
	letter-spacing: 5px;
	margin-bottom: 20px;
}
.information .message{
	margin-top: 15px;
	display: flex;
	justify-content: space-around;
}
.information .message .messageBoard{
	width: 690px;
	height: 370px;
}
.information .message .personalMessages{
	width: 690px;
	margin-top: -20px;
}
.information .message .personalMessages p{
	color: #fff;
	font-size: 20px;
	margin-top: 25px;
	margin-bottom: 5px;
}
.information .message .personalMessages input{
	width: 670px;
	height: 50px;
	font-size: 20px;
	padding-left: 15px;
	border: 1px solid rgb(178,210,206);
	border-radius: 5px;
}
.information .message .personalMessages .submitBtn{
	width: 100px;
	height: 50px;
	float: right;
	margin-top: 30px;
	background-color: rgb(87,178,155);
	color: rgb(167,233,227);
}
.footer{
	width: 1500px;
	height: 135px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer img{
	width: 250px;
	height: 55px;
	margin-left: 25px;
}
.footer .contactUs{
	font-size: 20px;
	margin-right: 25px;
}
.footer .contactUs p{
	margin-bottom: 10px;
}
.footer .contactUs p span{
	color: rgb(176,126,138);
}